@media only screen and (max-width: 1030px) {
  .profile-picture {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .about,
  .projects,
  .contact {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .about,
  .projects,
  .contact {
    padding-left: 30px;
    /* padding-right: 2px; */
  }
}

@media only screen and (max-width: 320px) {
  .contactbtn {
    display: none;
  }
  .profile-text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .profile-text p {
    text-align: center;
  }
  .about-area {
    margin: 0px auto;
  }
  .about p {
    font-size: 9px;
  }
  .about,
  .projects {
    margin-left: 5px;
    max-width: 90%;
  }
}
